---
layout: default
title: Seeping Matter
---

<div class="home">
  
  <p>You found Seeping Matter, the personal blog of Matt Ryan.  Nicely done.</p>
  <p>Read more about me in the <a href="/about/">"About the Author"</a> page.</p>

  <h1 class="page-heading">Posts</h1>
  
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
    {% endif %}
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
    {% endif %}
  </div>
  
  <br/><br/>
  
  {% for post in paginator.posts %}
    <h2>
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </h2>
    <p class="author">
      <span class="date">{{ post.date | date: "%b %-d, %Y" }}</span>
    </p>
    <div class="content">
      {{ post.content }}
    </div>
    <hr/>
    <br/>
  {% endfor %}
  
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
    {% endif %}
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
    {% endif %}
  </div>
  
  <br/><br/>  
  
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
